ul {
    margin: 0;
    padding: 0;
    outline: none;
}
.s-grid-panel {
    font: normal 13px/15px Microsoft Yahei, arial, verdana, sans-serif;
    border: 1px solid #333;
    overflow: hidden;
    position: relative;
}
.s-grid-title {
    padding: 9px 10px;
    color: #fff;
    background-color: #2f3243;
    font-weight: bold;
    line-height: 16px;
}
.s-grid-header {
    background: #393e53;
    position: relative;
    height: auto;
}
.s-record-header {
    display: table;
    background-color: #393e53;
    border-bottom: 1px solid #28283a;
    color: #666;
    outline: 0;
    font-weight: bold;
}
.s-record-header::after {
    content: "\e093";
    font-family: 'Glyphicons Halflings';
    position: absolute;
    top: -10000px;
}
.s-grid-body {
    background-color: #393e53;
    color: #000;
    width: auto;
    overflow-x: auto;
    overflow-y: auto;
}
.s-grid-rows {
    display: table-row;
    width: auto;
}
.s-record-cell {
    display: table-cell;
    color: #fff;
    padding: 7px 10px;
    line-height: 19px;
    overflow: hidden;
}
.s-record-cell > div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.checkbox-col {
    padding-top: 2px;
}
.s-record-header .s-record-cell {
    border-right: 1px solid #282b3a;
    padding: 7px 10px;
    cursor: default;
    color: #2196f7;
    vertical-align: middle;
}
.s-record-header .s-record-cell:hover {
    background-color: #464b64;
}
.s-record-header .s-col-resizable {
    cursor: col-resize;
}
.s-col-resizable {
    z-index: 10;
    position: fixed;
    cursor: col-resize;
    background-color: #333;
    width: 1px;
    display: none;
}
.s-record-body {
    width: auto;
}
.s-record-active {
    outline: 1px solid rgba(33,150, 247, .5);
}
.s-record-body .s-record-rows {
    display: table-row;
    width: auto;
}
.s-record-body .s-record-rows:hover {

}
.s-record-body .s-record-cell {
    border-right: 1px solid transparent;
    border-bottom: 1px solid #464b64;
}
.s-record-selected .s-record-cell {
    background-color: #2f3243 !important;
    border-right: 1px solid #2f3243 !important;
}

/* checkbox start */
.s-record-body .s-checkbox {
    top: 3px;
}
.s-checkbox {
    width: 14px;
    height: 14px;
    position: relative;
    margin: 0 auto;
    background: #fcfff4;
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.s-checkbox .s-checkbox-label {
    width: 10px;
    height: 10px;
    cursor: pointer;
    position: absolute;
    left: 2px;
    top: 2px;
    background: -moz-linear-gradient(top, #222222 0%, #45484d 100%);
    background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
    background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.s-checkbox .s-checkbox-label:after {
    content: '';
    width: 8px;
    height: 5px;
    position: absolute;
    top: 2px;
    left: 1px;
    border: 2px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.s-checkbox .s-checkbox-label:hover::after {
    opacity: 0.3;
}
.s-record-selected .s-checkbox .s-checkbox-label:after {
    content: '';
    width: 8px;
    height: 5px;
    position: absolute;
    top: 2px;
    left: 1px;
    border: 2px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 1;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.s-readonly .s-checkbox {
    opacity: 0.5;
}
.s-readonly .s-checkbox .s-checkbox-label:hover::after {
    opacity: 0;
}
/* checkbox end */

.s-grid-toolbar {
    padding: 8px;
    background-color: #2f3243;
    min-height: 32px;
    line-height: 24px;
}
.s-toolbar-bottom {
    color: #989eae;
    border-top: 1px solid #2f3243;
    position: relative;
}
.s-toolbar-button {
    border-color: #646987;
    border-radius: 3px;
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    background-image: none;
    background-color: #464b64;
}
.s-btn-disabled {
    background-image: none;
    background-color: #464b64;
    opacity: .5;
}
.s-toolbar-button a {
    width: auto;
    padding: 0 6px;
    font: bold 12px/16px '宋体';
    outline: none;
    text-decoration: none;
    color: #9ea4b4;
    display: block;
    text-align: center;
}
a.s-toolbar-paging {
    padding: 0;
    width: 22px;
}
.s-toolbar-text {
    font: normal 13px/15px 'microsoft yahei', '宋体', Arial;
}
.s-toolbar-input input {
    width: 36px;
    line-height: 15px;
    padding: 7px 6px 9px 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #646987;
    background-color: #464b64;
    color: #9ea4b4;
}
.s-inline-block {
    display: inline-block;
    margin-right: 5px;
}
.s-column-asc,
.s-column-desc {
    position: relative;
}
.s-column-asc > div::after {
    position: absolute;
    top: 7px;
    content: "\e093";
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    /*color: #ff7272;*/
    transform: scaleX(0.7);
}
.s-column-desc > div::after {
    position: absolute;
    top: 7px;
    content: "\e094";
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    /*color: green;*/
    transform: scaleX(0.7);
}
.s-column-align-left {
    text-align: left;
}
.s-column-align-center {
    text-align: center;
}
.s-column-align-right {
    text-align: right;
}
.s-mask-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: none;
    background-color: rgba(70, 75, 100, .7);
    cursor: default;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    z-index: 100;
    outline: none !important;
}
.s-grid-ctips {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: rgba(99, 146, 238, .38);
    position: absolute;
    top: 45%;
    left: 49%;
    cursor: pointer;
}
.s-grid-ctips:hover {
    background-color: rgba(99, 146, 238, .58);
}
.s-page-position-rside {
    position: absolute;
    top: 7px;
    right: 58px;
}
.s-refresh-position-rside {
    position: absolute;
    top: 7px;
    right: 6px;
}
select.sp-pagesize {
    width: 80px;
    border-color: #646987;
    height: 32px;
    border-radius: 5px;
    background-color: #464b64;
    color: #9ea4b4;
}
select.sp-pagesize option {
    min-height: 1.4em;
}
div.x-grid-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(30, 50, 70, 0.3);
    background: rgba(255, 255, 255, 0.3);
}
div.x-grid-body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #525568;
}
div.x-grid-body::-webkit-scrollbar-thumb {
    background: #181831;
    border-radius: 5px;
}
div.x-grid-body::-webkit-scrollbar-track-piece {
    background-color: #515465;
    border-radius: 10px;
}
div.x-grid-body::-webkit-scrollbar-thumb:vertical:hover {
    background: #242b47;
}
div.x-grid-body::-webkit-scrollbar-thumb:horizontal:hover {
    background: #242b47;
}
.s-grid-body .s-record-rows:nth-child(odd) {
    background-color: #464b64;
}

/* loader start */

/* loader end */
